<h1>StaticPages#cabinet</h1>
<p>Find me in app/views/static_pages/cabinet.html.erb</p>

<li>
	<%= link_to "Accès au cabinet", static_pages_acces_path %>
</li>
<li>
	<%= link_to "Horaires de consultation", static_pages_horaires_path %>
</li>
<li>
	<%= link_to "Informations pratiques", static_pages_info_pratiques_path %>
</li>
<li>
	<%= link_to "Nos salles de soins", static_pages_salles_de_soins_path %>
</li>

