<!-- FOOTER -->
<footer class="section bg-gray footer footer-sm">
  <div class="container">

    <div class="row">
      <div class="col-sm-12">
        <div class="text-center">
          <a class="navbar-brand logo" href="index.html">
            <span class="text-uppercase text-center">dentiste-lamouret</span>
          </a>

        <!--   <ul class="list-inline social-circle">
            <li><a href="http://www.facebook.com/dogtimecommunity" target="_blank"> <i class="zmdi zmdi-facebook"></i> </a></li>
            <li><a href="http://twitter.com/dogtimeco" target="_blank"> <i class="zmdi zmdi-twitter"></i> </a></li>
            <li><a href="http://www.instagram.com/dogtimecommunity/" target="_blank"> <i class="zmdi zmdi-instagram"></i> </a></li>
          </ul> -->

          <ul class="list-inline menu-list m-t-30">
            <li><a href=""> About Us</a></li>
            <li><a href=""> Help & Support</a></li>
            <li><a href=""> Terms & Conditions</a></li>
            <li><a href=""> Privacy Policy</a></li>
          </ul>

          <p class="text-muted m-b-0"> © dentiste-lamouret 2017 - All Right Reserved </p>

        </div>
      </div>
    </div>
    <!-- end row -->

  </div>
</footer>

<!-- END FOOTER -->
